body{
	margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
@font-face {
    font-family: 'SilkSerif_Regular';
    src: url('silk_serif_regular-webfont.woff2') format('woff2'),
         url('silk_serif_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SHAD_Regular';
    src: url('adgroteskext.-webfont.woff2') format('woff2'),
         url('adgroteskext.-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Parent {
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(214, 59, 199);
}

.slide {
  align-items: flex-end;
  flex: 1 0 auto;
  width: 100vw;
  height: 100vh;
}

#panelOne{
  background-color:#0D0E13;
  z-index: 4;
	position: relative;
}

.flexBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-1{
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.col-1 h1{
	color: white;
	font-family: SilkSerif_Regular;
	font-size: 150.3px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 100;
	margin-left: 25px;
}

.col-1 img{
	margin-left: 35px;
	height: 65px;
	margin-top: 72px;
	margin-left: 25px;

}

.col-1 h2{
	color: white;
	font-family: SilkSerif_Regular;
	font-size: 60px;
	margin-top: -1vh;
	margin-bottom: 0;
	font-weight: 100;
	flex-basis:75%;
	line-height: 65px;
	margin-left: 25px;
}

.col-1 section{
	flex-basis: 110%;
	background-color: white;
	width: 100%;
	height: 1.4px;
	margin-left: -1.5vw;
	margin-top: 80px;
}

.col-1 h3{
	color: white;
	font-size: 100px;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 0;
}

.col-1 h4{
	color: white;
	font-size: 200px;
	font-family: SilkSerif_Regular;
	font-weight: 100;
	flex-basis: 70%;
	margin-top: -2vh;
	margin-left: 25px;
}

.col-2 img{
	background-color: #F3AB09;
	margin-top:-37.5vh;
	height: 1080px;
}

#panelTwo{
  background-color: #F3AB09;
  z-index: 3;

}

#panelThree{
  background-color: green;
  z-index: 2;
}

#panelFour{
  background-color: transparent;
}

.fixed{
  background-color: rgb(214, 59, 199);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
