body{
	margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
@font-face {
    font-family: 'SilkSerif_Regular';
    src: url('silk_serif_regular-webfont.woff2') format('woff2'),
         url('silk_serif_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'SilkSerif_ExtraLight';
    src: url('silk_serif_extralight-webfont.woff2') format('woff2'),
         url('silk_serif_extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SHAD_Regular';
    src: url('adgroteskext.-webfont.woff2') format('woff2'),
         url('adgroteskext.-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.Parent {
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgb(214, 59, 199);
}

.slide {
  align-items: flex-end;
  flex: 1 0 auto;
  width: 100vw;
  height: 100vh;
}

#panelOne{
  background-color:#0D0E13;
  z-index: 4;
	position: relative;
}

.flexBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-1{
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.col-1 h1{
	color: white;
	font-family: SilkSerif_Regular;
	font-size: 200.3px;
	margin-top: 0;
	margin-bottom: -7vh;
	font-weight: 100;
	margin-left: 25px;
}

.col-1 img{
	margin-left: 35px;
	height: 100px;
	margin-top: 87px;
	margin-left: 25px;

}

.col-1 h2{
	color: white;
	font-family: SilkSerif_Regular;
	font-size: 60px;
	margin-top: 4vh;
	margin-bottom: 0;
	font-weight: 100;
	flex-basis:75%;
	line-height: 65px;
	margin-left: 25px;
}

.col-1 section{
	flex-basis: 110%;
	background-color: white;
	width: 100%;
	height: 1.4px;
	margin-left: -1.5vw;
	margin-top: 30px;
}

.col-1 h3{
	color: white;
	font-family: SHAD_Regular;
	font-size: 100px;
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: 0;
}

.isActive1{
	position: relative;
	color: white;
	font-size: 190px;
	font-family: SilkSerif_Regular;
	font-weight: 100;
	flex-basis: 70%;
	margin-top: -2.9vh;
	margin-left: 25px;
	z-index: 3;
}

.isActive2{
	position: relative;
	color: white;
	font-size: 190px;
	font-family: SilkSerif_Regular;
	font-weight: 100;
	flex-basis: 70%;
	margin-top: -57vh;
	margin-left: 25px;
	z-index: 4;
}

.isActive3{
	position: relative;
	color: white;
	font-size: 190px;
	font-family: SilkSerif_Regular;
	font-weight: 100;
	flex-basis: 70%;
	margin-top: -57vh;
	margin-left: 25px;
	z-index: 5;
}

.col-2 img{
	background-color: #F3AB09;
	margin-top: -37vh;
	height: 1080px;
}

#panelTwo{
  background-color: #0D0E13;
  z-index: 3;

}

.flexBox-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-3{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	background-color: #F3AB09;
	height: 100vh;
	flex-basis: 80%;
	border-radius: 0 40px 40px 0;
}

.list{
	margin-top:50px;
	margin-left: 300px;
}

#Data{
  margin-bottom: 10px;
}

#Data img{
   height : 10vh;
	 margin-left: -10vw;
	 margin-top: 20px;
}

#Data h1{
	font-family: SilkSerif_Regular;
	display:block;
	font-weight: 100;
	font-size : 80px;
	margin-top: -99px;
	margin-bottom: 0;
	margin-left: 0px;
	flex-basis: 50%;
}

#Data h2{
	font-family: SilkSerif_ExtraLight;
	font-weight: 100;
	font-size : 50px;
	margin-top: -3.5vh;
	margin-bottom: 0;
	line-height: 60px;
}

#Data section{
	height:1.4px;
	background-color: black;
	margin-top:20px;
	width:150%;
}

#Page-Info h1{
	font-family: SilkSerif_Regular;
	font-size: 275px;
	margin-top: -2vw;
	margin-left: -10vw;
	display: inline-block;
}

#Page-Info img{
	margin-top:150px;
	height: 14vh;
}

.col-4{
	position: relative;
	flex-wrap: wrap;
	height: 100vh;
	flex-basis: 10%;
}

.col-4 img{
	height: 900px;
	margin-top: 33px;
	margin-left: -33.5vw;
}

#panelThree{
  background-color: #0D0E13;
  z-index: 2;
	border-radius: 0 400px 400px 0;
}

.flexBox-3{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: 3;
}

.col-5{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	height: 100vh;
	flex-basis: 80%;
}
.col-5 h1{
 font-family: SilkSerif_Regular;
 font-weight: 100;
 color: White;
 font-size: 343.6px;
 margin-top: -7vh;
 margin-bottom: 0px;
 z-index: 7;
}

#arrow{
	margin-top: 95px;
	margin-left: 20px;
	height: 15vh;
  flex-basis: 10%;
}

#FirstImage{
	position: relative;

	z-index: 8;
	margin-top: -27vh;
	margin-left: 335px;
	height:25vh;
	margin-bottom: 0;
  width: 25vw;
}

#PicPin{
	position: relative;
	z-index:6;
	margin-top: -17vh;
}

#SecondImage{
  position: relative;
	z-index: 9;
	margin-top: -25vh;
	height:25vh;
	margin-left: 3vw;
}

#ThirdImage{
	position: relative;
	z-index: 10;
	margin-top: -25vh;
	height:25vh;
	margin-left: 9.4vw;
}

.col-6{
	position: relative;
	flex-wrap: wrap;
	height: 100vh;
	flex-basis: 10%;
	border-radius: 30%;
}

#FourthImage{
	position: relative;
	margin-left: -8vw;
	z-index:7;
	height:100%;
}

#panelFour{
  background-color: transparent;
	z-index: 0;
}

.fixed{
  background-image: url(Images/Page4Design3.png);
	background-size: 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.MainBox{

}

.MainBox h1{
	position: relative;
	font-family: SilkSerif_Regular;
	font-weight: 100;
	font-size: 150px;
	line-height: 140px;
	text-align: center;
	margin-top: -5vh;
	margin-bottom: 0;
	z-index: 4;

}

#Design1{
   position: relative;
	 z-index: 1;
	 width:7vw;
	 margin-left: 20vw;
	 margin-top: 70px;
}

#Profile{
  display: block;
	position: relative;
  margin-left: auto;
  margin-right: auto;
	margin-top: -10vh;
  width: 15%;
	bottom: 0;
	z-index: 2;
}

#Design2{
  position: relative;
	z-index: 3;
	width:3vw;
	margin-left: 80vw;
	margin-top: -10vh;
}

.Logo{
	margin-top: 70px;
	height:5vh;
	position: relative;
  margin-left: auto;
  margin-right: auto;
}

#Logo1{
   margin-left: 36vw;
}

#Logo2{
	 margin-left: 10vw;
}

#Logo3{
	margin-left: 10vw;
}
